.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.periodLabel {
  text-align: center;
  font-size: 1rem;
  color: var(--text);
  margin-bottom: 20px;
}
